@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Rosarivo:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}


html {
  background: linear-gradient(68.15deg, #2F2323 16.62%, #8E5252 85.61%);
}

/* menu de navegação inicio */

.top {
  display: flex;
  align-items: center;
}

.top span {
    align-items: center;
}

.top ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.top li {
  padding: 10px;
}

.top a {
  text-decoration: none;
  color: #FFE7E7;
}
/* fim menu de navegação */

/* inicio formatação de conteudos */
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  border-top: 0.4px solid #FFE7E7;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 1.9em;
  color: #FFE7E7;
}

@media (max-width: 597px) {
  .conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.image_artoria {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo button {
  background-color: #ECC4C4;
  width: 120px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Bellefair', serif;
  color: #170000;
  font-weight: 400;
  font-size: 18px;
}

/* fim da formatação de conteudos */

.functionBot {
  text-align: center;
  border-top: 0.4px solid #FFE7E7;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 34px;
  color: #FFE7E7;
}

/* como utilizar o bot */
.plataformas{
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.plataformas a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Rosarivo', serif;
  color: #ECD6C4;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.plataformas li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plataformas img {
  padding: 20px;
}

/* fim como utilizar o bot */

/* inicio footer */
.bcg {
  background-color: #000000;
  margin-top: 100px;
}

.copy {
  font-family: 'Rosarivo', serif;
  text-align: center;
  padding-top: 70px;
  color: FFF;
}

.copy ul {
  list-style: none;
}

.redes_sociais ul {
  display: flex;
  justify-content: center;
}

.redes_sociais li {
  padding: 10px;
}
/* fim footer */

 .links_redes:hover {
  color: #000000;
  border-radius: 10px;
  padding-bottom: 10px;
  transition: 1.3s ease;
}

